<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.guiatour">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCh01ThIQRji28nv_xqnra8yoJdWzBVGUM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Activity.loginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CadastroActivity" />
        <activity android:name=".Activity.ResetSenhaActivity" />
        <activity android:name=".Activity.PerfilActivity" />
        <activity android:name=".Activity.PaisesActivity"/>
        <activity android:name=".Activity.AgendaActivity" />
        <activity android:name=".Activity.CompartilheActivity" />
        <activity android:name=".Activity.PrincipalActivity" />
        <activity android:name=".Adapter.PaisAdapter" />
        <activity android:name=".Activity.RegrasActivity"/>
        <activity android:name=".Activity.MapaActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Activity.NovoPostActivity"
            android:parentActivityName=".Activity.CompartilheActivity" />
        <activity android:name=".Activity.ComentariosActivity"></activity>
    </application>

</manifest>